<% if defined?(template) && template %>
  <div tabindex="-1" class="chat-messages__item chat-messages__item--mine">
    <div class="chat-messages__item-content">
      <div>
        <span class="chat-messages__item-text"></span>
        <div class="chat-messages__item-timestamp-spacer"></div>
      </div>

      <div class="chat-messages__item-timestamp">
        <div class="spinner chat-messages__item-spinner"></div>
      </div>
    </div>
  </div>
<% else %>
  <div tabindex="-1" class="chat-messages__item <%= "chat-messages__item--mine" if message.sender == user %>" data-message-id="<%= message.id %>">
    <div class="chat-messages__item-content">
      <div>
        <span class="chat-messages__item-text">
          <%= markup(message.content) %>
        </span>

        <div class="chat-messages__item-timestamp-spacer"></div>
      </div>

      <div class="chat-messages__item-timestamp">
        <%= message_timestamp(timestamp: message.created_at, time_zone: user&.time_zone) %>
      </div>
    </div>
  </div>
<% end %>
