<div tabindex="-1" class="chat-messages__item <%= 'chat-messages__item--mine' if defined?(current_user) && message.sender == current_user %>" data-message-id="<%= message.id %>">
  <div tabindex="-1" class="chat-messages__item-text">
    <%= message.content %>
  </div>
</div>
