.btn-icon {
  height: $btn-size;
  width: $btn-size;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid transparent;
  user-select: none;
  text-align: center;
  outline: none;

  &:hover {
    background-color: $gray-100;
  }

  &--hover-none {
    &:hover {
      background-color: unset !important;
    }
  }

  &--rounded {
    border-radius: 50%;
  }

  &--active {
    .svg-icon {
      fill: $primary;

      circle:last-child {
        stroke: $primary;
      }
    }
  }
}

.svg-icon {
  width: $btn-size * 0.7;
  height: $btn-size * 0.7;

  &--close {
    line {
      stroke-width: 40px;
      stroke: $gray-600;
    }
  }

  &--smiley {
    fill: $gray-600;

    circle:last-child {
      fill: none;
      stroke: $gray-600;
      stroke-miterlimit: 10;
      stroke-width: 32px;
    }
  }

  &--send {
    fill: $gray-600;
    stroke: $gray-600;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 32px;
  }
}
