.chat-messages {
  padding: $default-padding;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1 1 0;
  order: 2;
  outline: none;
  @extend .scrollbar;
}

.chat-messages__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  outline: none;
  align-items: flex-start;

  .chat-messages__item-content {
    background-color: $gray-200;
    border-bottom-left-radius: 0;
    position: relative;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--mine {
    align-items: flex-end;

    .chat-messages__item-content {
      background-color: #E1F0FF;
      border-bottom-right-radius: 0;
    }
  }
}

.chat-messages__item-content {
  outline: none;
  max-width: 65%;
  padding: $default-padding;
  color: $font-color;
  border-radius: 0.42rem;

  @media screen and (max-width: 1024px) and (min-width: 901px) {
    max-width: 80%;
  }

  @media screen and (max-width: 900px) {
    max-width: 90%;
  }
}

.chat-messages__item-timestamp {
  font-size: 11px;
  color: $gray-700;
  margin-left: $default-padding;
  white-space: nowrap;
  position: absolute;
  right: $default-padding;
  bottom: $default-padding;
}

.chat-messages__item-timestamp-spacer {
  width: 50px;
  display: inline-block;
}

.chat-messages__item-error-icon {
  stroke: $gray-700;
  fill: $gray-700;
  width: 1.2em;
  height: 1.2em;
  display: block;
}

.chat-messages__item-spinner {
  width: 1.2em;
  height: 1.2em;

  &:before {
    width: 1.2em;
    height: 1.2em;
  }
}

.chat-messages__scrolling-spinner {
  margin-bottom: $default-padding;

  .spinner {
    margin: 0 auto;

    &:before {
      left: 0;
      border: 3px solid $primary;
      border-right: 3px solid transparent;
    }
  }
}
