<div class="card chat-widget">
  <div class="card-header d-flex align-items-center px-4 py-3">
    <div class="flex-grow-1">
      <div class="text-dark-75 font-weight-bold font-size-h5">Matt Pears</div>
      <div>
        <span class="label label-dot label-success"></span>
        <span class="font-weight-bold text-muted font-size-sm">Active</span>
      </div>
    </div>
    <div class="ml-3">
      <button type="button" class="btn btn-clean btn-sm btn-icon btn-circle">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>

  <div class="card-body px-4">

  </div>

  <div class="card-footer d-flex align-items-end p-4">
    <div class="flex-grow-1">
      <textarea class="chatbox bg-gray-100 form-control border-0 p-2 js-chatbox" style="position: relative;overflow:hidden" rows="1" placeholder="Type a message"></textarea>
    </div>

    <div class="ml-4">
      <button type="button" class="btn btn-clean btn-sm btn-icon">
        <i class="fas fa-paper-plane text-dark-75"></i>
      </button>
    </div>
  </div>
</div>
