<% content_for :subheader do %>
  <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
    <div class="d-flex align-items-center flex-wrap mr-2">
      <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Conversations</h5>
      </div>
    <div class="d-flex align-items-center flex-wrap">
    </div>
  </div>
<% end %>

<div class="d-flex flex-row h-100 position-relative">
  <div class="flex-row-auto w-100 w-lg-350px w-xl-400px mobile-conversation-list">
    <div class="card card-custom h-100">
      <div class="card-body p-0 position-relative conversation-list-container">
        <div class="conversation-list__header p-5 border-bottom">
          <div class="checkbox-inline">
            <label class="checkbox">
              <input type="checkbox" name="Checkboxes2">
              <span></span>
            </label>
          </div>
        </div>
        <div class="conversation-list__body">
          <%= render partial: 'conversation', collection: @conversations, cached: true %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-row-fluid ml-lg-8 js-chat-widget-container mobile-conversation-chat-widget offcanvas-mobile offcanvas-mobile-right">
    <div class="card card-custom h-100">
      <div class="card-body p-3 d-flex align-items-center justify-content-center">
        <div class="text-center d-none d-lg-block">
          <% if @conversations.present? %>
            <h1>You have open conversations</h1>
            <%= image_tag "conversations/active_conversations.png", class: "img-fluid w-75 d-block m-auto" %>
          <% else %>
            <h1>No open conversations</h1>
            <h4 class="text-muted">You're all caught up!</h4>
            <%= image_tag "conversations/no_conversations.png", class: "img-fluid w-75 d-block m-auto" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
