<div class="card chat-widget">
  <div class="card-header d-flex align-items-center px-4 py-3">
    <div class="flex-grow-1">
      <div class="text-dark-75 font-weight-bold font-size-h5">Matt Pears</div>
      <div>
        <span class="label label-dot label-success"></span>
        <span class="font-weight-bold text-muted font-size-sm">Active</span>
      </div>
    </div>
    <div class="ml-3">
      <button type="button" class="btn btn-clean btn-sm btn-icon btn-circle">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>

  <div class="card-body px-4">

  </div>

  <div class="card-footer d-flex align-items-end p-3">
    <button type="button" class="js-emoji-trigger svg-icon svg-icon-2x btn btn-clean btn-circle btn-sm btn-icon">
      <svg class="smiley-svg" xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-i</title><circle cx='184' cy='232' r='24'/><path d='M256.05,384c-45.42,0-83.62-29.53-95.71-69.83A8,8,0,0,1,168.16,304H343.85a8,8,0,0,1,7.82,10.17C339.68,354.47,301.47,384,256.05,384Z'/><circle cx='328' cy='232' r='24'/><circle class="smiley-svg-circle" cx='256' cy='256' r='208'/></svg>
    </button>

    <div class="flex-grow-1">
      <textarea data-selection-start="0" class="chatbox bg-gray-100 form-control border-0 py-2 px-3 js-chatbox" style="position: relative;overflow:hidden" rows="1" placeholder="Type a message"></textarea>
    </div>

    <button type="button" class="js-chatbox-submit btn-hover-bg-white svg-icon svg-icon-2x btn btn-clean btn-circle btn-sm btn-icon">
      <svg class="send-svg" xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-q</title><path d='M470.3,271.15,43.16,447.31a7.83,7.83,0,0,1-11.16-7V327a8,8,0,0,1,6.51-7.86l247.62-47c17.36-3.29,17.36-28.15,0-31.44l-247.63-47a8,8,0,0,1-6.5-7.85V72.59c0-5.74,5.88-10.26,11.16-8L470.3,241.76A16,16,0,0,1,470.3,271.15Z'/></svg>
    </button>
  </div>
</div>
