.devise {
  &__aside {
    background: #B1DCED;

    @include media-breakpoint-up(lg) {
      width: 100%;
      max-width: 600px;
    }

    @include media-breakpoint-between(lg, xl) {
      width: 100%;
      max-width: 450px;
    }
  }

  &__content {
    @include media-breakpoint-up(lg) {
      width: 100%;
      max-width: 500px;
    }

    @include media-breakpoint-down(xs) {
    }
  }

  &__form-container {
    @include media-breakpoint-up(lg) {
      width: 100%;
      max-width: 450px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: 400px;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      max-width: 100%;
    }
  }

  .footer {
    padding: 0 !important;

    .nav {
      .nav-link {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }
}
