
<h1>GHello world</h1>
<a href="#" class="btn btn-primary btn-default">Click me</a>

<a href="#" class="btn btn-success btn-default">Click me</a>

<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/8477888.js"></script>
<!-- End of HubSpot Embed Code -->

<input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">

<div id="iframe-container">
  <iframe src="<%= root_path%>" width="400" height="550" border="none" style="border:none"></iframe>
</div>

$('iframe').contentWindow.document

<div class="spinner"></div>
