
<h1>GHello world</h1>
<a href="#" class="btn btn-primary btn-default">Click me</a>

<a href="#" class="btn btn-success btn-default">Click me</a>

<!-- Start of HubSpot Embed Code -->
  <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/8477888.js"></script> -->
<!-- End of HubSpot Embed Code -->

<input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">


$('iframe').contentWindow.document

<div class="spinner"></div>

<a href="https://google.com">Google.com</a>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5f867df92901b920769335ae/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
