@import 'metronic/metronic';
@import 'fontawesome';
@import 'chat_widget';

@import 'custom/layout';
@import 'custom/devise';
@import 'custom/conversations';
@import 'custom/scrollbar';

.checkbox > span {
  margin-right: 0.75rem;
}

.select-none {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
  -moz-user-select: none;

  pointer-events:none;
}

.white-space-nowrap {
  white-space: nowrap;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
