@import "metronic/components/variables.bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-color: #222222;
$font-family: 'Lato', sans-serif !default;
$default-padding: 0.75em;
$font-size: 14px;
$btn-size: 35px;

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 14px !important;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

* {
  font-size: $font-size;
  font-family: "Lato", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
  }

  &::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1);
  }

  scrollbar-color:rgba(0,0,0,.2) hsla(0,0%,100%,.1);
  scrollbar-width:thin
}

@import 'chat_widget/base';
@import 'chat_widget/buttons';
@import 'chat_widget/emoji';
@import 'chat_widget/chatbox';
@import 'chat_widget/messages';
