@import "metronic/components/variables.bootstrap";

$font-color: #222222;
$font-family: 'Lato', sans-serif !default;
$default-padding: 0.75rem;

.btn-icon {
  height: 40px;
  width: 40px;
  color: #B5B5C3;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 0.925rem;
  line-height: 1.35;
  border: 1px solid transparent;
  user-select: none;
  text-align: center;
  border-radius: 50%;

  &:hover {
    background-color: $gray-100;
  }

  .icon-svg {
    width: 2rem;
    height: 2rem;
  }

  &--smiley {
    .icon-svg {
      fill: $gray-600;

      circle:last-child {
        fill: none;
        stroke: $gray-600;
        stroke-miterlimit: 10;
        stroke-width: 32px;
      }
    }
  }

  &--send {
    background-color: unset !important;

    .icon-svg {
      fill: $gray-600;
      stroke: $gray-600;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 32px;
    }
  }

  &--close {
    .icon-svg {
      line {
        stroke-width: 40px;
        stroke: $gray-600;
      }
    }
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
  }

  &::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1);
  }

  scrollbar-color:rgba(0,0,0,.2) hsla(0,0%,100%,.1);
  scrollbar-width:thin
}

.chat {
  background: white;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100%;
}

.chat-header {
  display: flex;
  align-items: center;
  padding:  $default-padding;
  border-bottom: 1px solid $card-border-color;
  background: $white;

  &__details {
    flex-grow: 1;
  }
}

.chat-messages {
  padding: $default-padding;
  flex: 1 1 0;
  order: 2;
  overflow-x: hidden;
  overflow-y: scroll;
  @extend .scrollbar;
}

.chat-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  &--mine {
    align-items: flex-end;

    .chat-message__text {
      background-color: #E1F0FF;
      border-bottom-right-radius: 0;
    }
  }

  &--other {
    align-items: flex-start;

    .chat-message__text {
      background-color: #f6f6f6;
      border-bottom-left-radius: 0;
    }
  }

  &__text {
    max-width: 65%;
    padding: $default-padding;
    color: $font-color;
    border-radius: 0.42rem;

    @media screen and (max-width: 1024px) and (min-width: 901px) {
      max-width: 80%;
    }

    @media screen and (max-width: 900px) {
      max-width: 90%;
    }
  }
}

footer {
  flex: none;
  order: 3;
  box-sizing: border-box;
  width: 100%;
}

.chatbox {
  background: white;
  padding: $default-padding;
  display: flex;
  align-items: flex-end;
  border-top: 1px solid $card-border-color;

  &__icon-svg {
    width: 2rem;
    height: 2rem;
  }

  &__input-wrapper {
    flex-grow: 1;
  }

  &__input {
    display: block;
    max-height: 100px;
    position: relative;
    overflow:hidden;
    background-color: $gray-100;
    padding-left: $default-padding;
    padding-right: $default-padding;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: $font-color;
    background-clip: padding-box;
    border-radius: 20px;
    box-shadow: none;
    border: none;
    outline: none;

    @extend .scrollbar;
  }
}

.chat-widget {
  height: 100%;
}

.emoji-picker__wrapper {
  position: fixed !important;
  left: 12px !important;
  bottom: 60px !important;
  top: unset !important;
  right: unset !important;
  transform: unset !important;
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.1);
  border-radius: 0.42rem;

  .emoji-picker {
    border-color: $card-border-color;

    @media only screen and (max-width: 500px) {
      max-height: 300px;
    }
  }

  .emoji-picker__search-container {
    margin: $default-padding;

    .emoji-picker__search {
      // @extend .form-control;
      // @extend .form-control-sm;
      font-family: $font-family;
    }

    .emoji-picker__search-icon {
      display: none;
    }
  }

  .emoji-picker__category-name {
    font-family: $font-family;
    text-transform: unset !important;
  }

  .emoji-picker__content {
    padding: $default-padding;
    height: 100%;
  }

  .emoji-picker__emojis {
    @extend .scrollbar;
  }
}
